<!-- Just an image -->
<div class="container">

    <div class="row mt-5">
        <div class="col-lg-7 mx-auto">

            <div class="card mb-3">
                <img src="<%= @amazon.image %>"
                     class="card-img-top p-2 img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= @amazon.product_name %></h5>
                    <div class="text-danger">$10.00</div>
                    <div class="text-small text-success">In Stock</div>
                </div>
            </div>

        </div>

        <div class="col-lg-5 mx-auto">

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Order Summary</h5>
                    <dl class="row mt-4">
                        <dt class="col-9">Items (5):</dt>
                        <dd class="col-3 text-right">
                            $<%= @amazon.price %>
                        </dd>

                        <dt class="col-9">Shipping and Handling:</dt>
                        <dd class="col-3 text-right">
                            $<%= @amazon.shipping.round(2) %>
                            <hr>
                        </dd>

                        <dt class="col-9">Total before duty:</dt>
                        <dd class="col-3 text-right">
                            $90.00
                        </dd>

                        <dt class="col-9">Estimated duty to be collected:</dt>
                        <dd class="col-3 text-right">
                            $10.00
                        </dd>

                        <div class="col-12">
                            <hr>
                        </div>

                        <dt class="col-9 text-truncate">Order Total:</dt>
                        <dd class="col-3 text-right">
                            $100.00
                        </dd>
                    </dl>
                    <div class="small text-center">
                        Package will arrive in
                        <br>
                        Greater Accra, Ghana
                        <br>
                        <strong>by Air</strong>
                        <br>
                        on 28th November
                        <br>

                        <a href="index.html">Change delivery method</a>
                    </div>


                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-7">

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Contact Information</h5>
                    <form action="">
                        <div class="form-group">
                            <label for="full_name">Full name</label>
                            <input type="text" class="form-control" id="full_name" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number</label>
                            <input type="tel" class="form-control" id="phone" aria-describedby="phone_help" required>
                            <small id="phone_help" class="form-text text-muted">
                                This number should be active so we can reach you when we're delivering your item
                            </small>
                        </div>

                        <button type="button" class="btn btn-accent btn-block" onClick="payWithRave()">Make Payment</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
<script>
  const API_publicKey = "FLWPUBK_TEST-5d111ed01ffb9d0a9b6a0d0811ceb591-X";
  var txref = Math.floor(Math.pow(10, length - 1) + Math.random() * 9 * Math.pow(10, length - 1));
  function payWithRave() {
      var phone = $('#phone').val();
      var email = $('#email').val();
      var name = $('#full_name').val();
      var amazon_url = "<%= @amazon.amazon_url %>";
      var shiping = "<%= @amazon.shipping.round(2) %>";
      var price = "<%= @amazon.price %>";
      var x = getpaidSetup({
          PBFPubKey: API_publicKey,
          customer_email: email,
          amount: 20,
          customer_phone: phone,
          currency: "USD",
          country: 'NG',
          txref: txref,
          meta: [{
              metaname: "shiping-to-ghana",
              metavalue: "AP1234"
          }],
          onclose: function() {},
          callback: function(response) {
              var txref = response.tx.txRef; // collect txRef returned and pass to a 					server page to complete status check.
              console.log("This is the response returned after a charge", response);
              if (
                  response.tx.chargeResponseCode == "00" ||
                  response.tx.chargeResponseCode == "0"
              ) {
                  window.location.href = '/payment?' + 'email=' + email + '&price=' + price + '&phone=' + phone + '&name=' + name + '&shipping=' + shiping + '&amazon_url=' +  amazon_url + '&reference_code=' + txref;
              } else {
                  // redirect to a failure page.
              }

              x.close(); 
          }
      });
  }
</script>